body {
  font-family: 'Montserrat', sans-serif;
  /* background: rgb(43, 2, 43); */
  /* background: rgb(31, 1, 31); */
}

/* player */
.button {
  max-width: 100%;
}


/* containers */
#container-import {
  display: none;
}


#anterior, #siguiente {
  width: 3%;
  background:none;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 300;
  bottom: 187px;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}





[data-draggable="target"]{
	width:42%;
  margin:0 0.5em 0.5em 0;
	padding:0.5em;
	border:2px solid #888;
	background:#ddd;
	}


.songs{
	display:block;
	list-style-type:none;
	margin:0 0 2px 0;
	padding:0.2em 0.4em;
	border-radius:0.2em;
	line-height:1.3;
}
