body {
  font-family: 'Montserrat', sans-serif;
  /* background: rgb(43, 2, 43); */
  /* background: rgb(31, 1, 31); */
}

/* player */
.button {
  max-width: 100%;
}


/* containers */
#container-import {
  display: none;
}


#anterior, #siguiente {
  width: 3%;
  background:none;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 300;
  bottom: 187px;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}