body {
  font-family: 'Montserrat', sans-serif;
  /* background: rgb(43, 2, 43);  */
  background: rgba(0, 0, 0, 0.836);
}

/* player */
.button {
  margin-left: 6%;
  margin-bottom: 95px;
}
.button + .button {
  margin-left: 92%;
}


/* containers */
#container-import {
  display: none;
  
}

.player {
  background-size: 100%;
  height: 468px;
  padding-top: 70px;
  width: 100%;
  margin: 0;
  left: 0;
}
.imagen {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.audio {
  position: absolute;
  bottom: 0px;
  background: orange;
  padding: 20px;
  width: 98%;
  text-align: center;
}
#anterior, #siguiente {
  width: 2%;
  background:none;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 300;
  bottom: 187px;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}



[data-draggable="target"]{
	width:42%;
  margin:0 0.5em 0.5em 0;
	padding:0.5em;
	border:2px solid #888;
	background:#ddd;
	}


.songs{
	display:block;
	list-style-type:none;
	margin:0 0 2px 0;
	padding:0.2em 0.4em;
	border-radius:0.2em;
	line-height:1.3;
}
